[xcpp]
path = .:xcpp

[cpp]
dir = cpp
bin = bin
cxxinc = xcpp
opt = -O3 -Wall -Werror -Wfatal-errors -Wextra

[python]
dir = cpp
lib = lib
wrapper = python
cxxinc = xcpp
opt = -O3 -Wall -Werror -Wfatal-errors -Wextra

[matlab]
dir = cpp
lib = matlab
wrapper = matlab
cxxinc = xcpp
opt = -O3 -Wall -Werror -Wfatal-errors -Wextra

[mathematica]
dir = cpp
mma = mathematica
app = Spp
cxxinc = xcpp
opt = -O3 -Wall -Werror -Wfatal-errors -Wextra
